<div class="ui segment" ng-class="{'loading': feedViewer.isLoading}">

    <!-- Case when there is a feed -->
    <div ng-if="feedViewer.title">
        <header class="ui center aligned vertical segment">
            <h1 class="ui header">{{ feedViewer.title }}</h1>

            <h3 class="ui header">{{ feedViewer.feedUrl }}</h3>
        </header>

        <feed-viewer-article ng-repeat="article in feedViewer.displayedArticles"
                             article="article">

        </feed-viewer-article>

        <div class="fluid ui green button center aligned"
             ng-click="feedViewer.loadMore()"
             ng-show="feedViewer.moreArticles">
            Load More Articles
        </div>
    </div>

    <!-- Case when there is no feed or there is an error -->
    <div ng-if="!feedViewer.title">
        <header class="ui center aligned vertical segment">
            <h1 class="ui header">No feed loaded</h1>
        </header>
        <article class="ui center aligned vertical segment">
            <p class="content">Please select a feed on the list</p>
        </article>

        <article ng-show="feedViewer.error">
            <p class="content ui error message">{{ feedViewer.error }}</p>
        </article>
    </div>

</div>
