<div class="ui segment" ng-class="{'loading': feedViewerManager.isLoading}">
    <header class="ui center aligned vertical segment">
        <h1 class="ui header">URL 1</h1>
    </header>

    <article class="ui segment">
        <header class="ui header">
            <h3>Title - 17/09/14</h3>
        </header>

        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis delectus earum harum
                           libero? Deleniti ducimus eius et, ipsam laborum praesentium repellendus. Eos facilis nihil
                           nulla? Accusantium
                           atque incidunt veritatis.</p>
    </article>

</div>
